.container {
  height: 90vh;
  width: 90vw;
  margin: auto;
}

.calc-container {
  margin: 60px auto 0 auto;
  height: 30vmax;
  width: 25vmax;
  place-content: center;
  display: grid;
  grid: [display-start] 'display display display display display' 2fr
                        'display display display display display' 1fr [display-end]
        [btn1-start] 'seven eight nine divide clear' 1fr [btn1-end]
        [btn2-start] 'four five six mult .' 1fr [btn2-end]
        [btn3-start] 'one two three sub eq' 1fr [btn3-end]
        [btn4-start] 'zero dot percent add eq' 1fr [btn4-end]
        / 18% 18% 18% 18% 18%;
  border: 2px solid darkgrey;
  border-radius: 4px;
}

/* Display */

.display-active, .display-second, .display-top {
  height: 33.3%;
}

.display {
  grid-row: display;
  grid-column: 1 / 6;
  margin: 8px 2px 5px 2px;
  font-size: 1.5em;
  text-align: right;
  overflow-wrap: anywhere;
  resize: none;
  border: 1px solid lightgrey;
  border-radius: 7px;
}

/* Offset disabled coloring */

textarea:disabled {
  background: white;
  color: black;
}

/* Buttons */

.btn {
  place-self: center;
  width: 90%;
  height: 90%;
}

.btn.eq {
  height: 95%;
}

.one {
  grid-row: btn3;
  grid-column: 1;
}

.two {
  grid-row: btn3;
  grid-column: 2;
}

.three {
  grid-row: btn3;
  grid-column: 3;
}

.four {
  grid-row: btn2;
  grid-column: 1;
}

.five {
  grid-row: btn2;
  grid-column: 2;
}

.six {
  grid-row: btn2;
  grid-column: 3;
}

.seven {
  grid-row: btn1;
  grid-column: 1;
}

.eight {
  grid-row: btn1;
  grid-column: 2;
}

.nine {
  grid-row: btn1;
  grid-column: 3;
}

.zero {
  grid-row: btn4;
  grid-column: 1;
}

.dot {
  grid-row: btn4;
  grid-column: 2;
}

.percent {
  grid-row: btn4;
  grid-column: 3;
}

.divide {
  grid-row: btn1;
  grid-column: 4;
}

.mult {
  grid-row: btn2;
  grid-column: 4;
}

.sub {
  grid-row: btn3;
  grid-column: 4;
}

.add {
  grid-row: btn4;
  grid-column: 4;
}

.eq {
  grid-row: btn3 / btn4;
  grid-column: 5;
}

.clear {
  grid-row: btn1;
  grid-column: 5;
}